Add support for the string format type in openAPI to Ballerina code generation

**Description:**
Swagger specification has format types for the string. Therefore this issue is to provide support for the below string formats in openAPI to Ballerina

- date – full-date notation as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), for example, 2017-07-21
- date-time – the date-time notation as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), for example, 2017-07-21T17:32:28Z
- password – a hint to UIs to mask the input
- byte – base64-encoded characters, for example, U3dhZ2dlciByb2Nrcw==
- binary – binary data, used to describe files (see [Files](https://swagger.io/docs/specification/data-models/data-types/#file) below)
- email
- uuid
- uri
- hostname
- ipv4
- ipv6

**Describe your problem(s)**

**Describe your solution(s)**

**Related Issues (optional):**
<!-- Any related issues such as sub tasks, issues reported in other repositories (e.g component repositories), similar problems, etc. -->

**Suggested Labels (optional):**
<!-- Optional comma separated list of suggested labels. Non committers can’t assign labels to issues, so this will help issue creators who are not a committer to suggest possible labels-->

**Suggested Assignees (optional):**
<!--Optional comma separated list of suggested team members who should attend the issue. Non committers can’t assign issues to assignees, so this will help issue creators who are not a committer to suggest possible assignees-->
